div.deviceContainer {
  display: grid;

  justify-items: center;
  align-items: center;

  color:black;
}

div.deviceMain {
  width: 30vh;
  height: 50vh;

  border: 1px solid black;

  /* too lazy to do grid hacks */
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;

  grid-template-columns: 1fr;
  grid-template-rows: .15fr .15fr 1fr .1fr;
}

div.deviceScreen {
  width: 80%;
  /* a specific height has to be set */
  height: 100%;

  line-height: 2rem;
  text-align: left;
  text-indent: 1rem;


  border: 1px solid gray;
  transition: all 100ms;
}

div.deviceScreen.empty {
  height: 0;
}

div.deviceScreen.numbers {
  border: 0px;
}

div.deviceButtons {
  width: 90%;
  height: 80%;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding-left: auto;
  padding-right: auto;

  grid-column-gap: 2.5%;

  justify-items: center;
  align-items: center;
}

div.deviceButtons > button {
  width: 100%;
}